[run]
source =
	gpm_api
omit =
	*dev*
	*docs*
	*tutorials*
	gpm_api/bucket/*
	gpm_api/cli/*
	gpm_api/encoding/*
	gpm_api/etc/*
	gpm_api/retrieval/*
	gpm_api/tests/*
	gpm_api/_version.py

[report]
exclude_lines =
	pragma: no cover
	def __repr__
	def __str__
