# pyproject.toml

[build-system]
requires = ["setuptools>=61.0.0", "setuptools_scm[toml]>=6.2", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "gpm_api"
description = "Python API for the Global Precipitation Mission Data Archive"
readme = "README.md"
authors = [
	{ name = "Gionata Ghiggi", email = "gionata.ghiggi@epfl.ch" },
]
license = { file = "LICENSE" }
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Education",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Operating System :: Unix",
    "Operating System :: Microsoft",
    "Operating System :: MacOS",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Atmospheric Science",
    "Topic :: Scientific/Engineering :: GIS",
    "Topic :: Scientific/Engineering :: Hydrology",
    "Topic :: Scientific/Engineering :: Image Processing",
]
keywords = ["GPM", "Precipitation", "API", "DPR", "PMW", "IMERG"]
dependencies = [
    "xarray",
    "xarray-datatree",
    "h5py", # TO DISCARD IN FUTURE
    "netcdf4",
    "dask",
    "wget",
    "tqdm",
    "click",
    "donfig",
    "trollsift",
    "pyresample", # TO MAKE OPTIONAL
    "cartopy>=0.20.0",  # TO MAKE OPTIONAL
     # "curl", can be installed with conda.  Make it optional in the code.
]
requires-python = ">=3.8"
dynamic = ["version"]

[project.optional-dependencies]
image = ["ximage"]
dev = ["pre-commit",
       "black[jupyter]", "blackdoc", "codespell", "ruff",
       "pytest", "pytest-cov", "pytest-mock", "pydantic", "pytest-check",
       "pytest-watcher", "pip-tools", "bumpver", "twine",
       "setuptools>=61.0.0", "wheel",
       "sphinx", "sphinx-gallery", "sphinx-book-theme", "nbsphinx", "sphinx_mdinclude"]

[project.urls]
Homepage = "https://github.com/ghiggi/gpm_api"
Source = "https://github.com/ghiggi/gpm_api"
Tracker = "https://github.com/ghiggi/gpm_api/issues"
Documentation = "https://gpm_api.readthedocs.io"
changelog = "https://github.com/ghigg/gpm_api/CHANGELOG.md"

[tool.setuptools_scm]
write_to = "gpm_api/_version.py"

[tool.setuptools]
license-files = ["LICENSE"]
packages = ["gpm_api"] # explicitly list the packages in modules
# To customize, remove packages and use instead [tool.setuptools.packages.find]

# [tool.setuptools.packages.find]
# where = ["gpm_api"]
# include = ["io", "..."]

[project.scripts]
download_gpm_daily_data="gpm_api.scripts.download_gpm_daily_data:download_gpm_daily_data"
download_gpm_monthly_data="gpm_api.scripts.download_gpm_monthly_data:download_gpm_monthly_data"
download_gpm_files="gpm_api.scripts.download_gpm_files:download_gpm_files"


[tool.pytest.ini_options]
addopts = "--ignore=gpm_api/tests/0_tmp/ --cov --cov-report term-missing --cov-report xml --cov-report lcov:lcov.info --check-max-report=10"

[tool.black]
line-length = 100
# skip-string-normalization = true
target-version = [
    "py37",
    "py38",
    "py39",
    "py310",
    "py311",
]

[tool.ruff]
select = ["F",
	  "E",
	  "I",
	  "W",
	  "UP",
	  "Q",
	  # "SIM",
	  # "PTH",
	  #"RET",
	 ]
ignore = ["E722"]
line-length = 120
# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["A", "B", "C", "D", "E", "F", "G", "I", "N", "Q", "S", "T", "W", "ANN", "ARG", "BLE", "COM", "DJ", "DTZ", "EM", "ERA", "EXE", "FBT", "ICN", "INP", "ISC", "NPY", "PD", "PGH", "PIE", "PL", "PT", "PTH", "PYI", "RET", "RSE", "RUF", "SIM", "SLF", "TCH", "TID", "TRY", "UP", "YTT"]
unfixable = []
# Exclude a variety of commonly ignored directories.
exclude = [
    "dev*",
    "gpm_api/test*",
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]

[tool.codespell]
    ignore-words-list = "ges,nd"
