# MANIFEST.in


# In this file, I list manually all files to be included in the sdist.
# Docs
# - https://docs.python.org/3/distutils/sourcedist.html#specifying-the-files-to-distribute
# - https://packaging.python.org/en/latest/guides/using-manifest-in/
# - https://docs.python.org/3/distutils/commandref.html#sdist-cmd

recursive-include gpm_api* *.py *.pyx *.yml
include AUTHORS.md LICENSE README.md pyproject.toml setup.py
