xarray
h5py
netcdf4
dask
pyresample
trollsift
cartopy>=0.20.0
wget
tqdm
click

ximage

pytest
pytest-cov
pytest-mock
pydantic
pip-tools
bumpver
twine
setuptools>=61.0.0
wheel
sphinx
sphinx-gallery
sphinx_rtd_theme
nbsphinx
