name: Tests
on: [push, pull_request, workflow_dispatch]

jobs:
  tests:
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}${{ matrix.experimental && ', latest dependencies' || '' }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        experimental: [false]
        include:
          - os: "ubuntu-latest"
            python-version: "3.11"
            experimental: true

          - os: "ubuntu-latest"
            python-version: "3.11"
            experimental: false
            coverage: true

          - os: "windows-latest"
            python-version: "3.11"
            experimental: false

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Retrieve LSF items in test data
        run: |
          git submodule foreach git lfs pull

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ${{ matrix.experimental && 'ci/environment_latest.yml' || 'ci/environment.yml' }}
          create-args: >-
            python=${{ matrix.python-version }}
          init-shell: >-
            bash

      - name: Install package
        run: |
          pip install -e .[image,dev]

      - name: Test with pytest
        run: |
          pytest
        env:
          HDF5_USE_FILE_LOCKING: FALSE

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        if: matrix.coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Generate coverage report in lcov format
        if: matrix.coverage
        run: |
          coverage lcov -o coverage/lcov.info

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@v2
        if: matrix.coverage
        with:
          parallel: true

  end-coveralls:
    needs: [tests]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
