name: Tests
on: [push, pull_request, workflow_dispatch]

jobs:
  tests:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}${{ matrix.experimental && ', latest dependencies' || '' }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        experimental: [false]
        include:
          - os: "ubuntu-latest"
            python-version: "3.11"
            experimental: true

          - os: "ubuntu-latest"
            python-version: "3.11"
            experimental: false
            coverage: true

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ${{ matrix.experimental && 'ci/environment_latest.yml' || 'ci/environment.yml' }}
          create-args: >-
            python=${{ matrix.python-version }}
          init-shell: >-
            bash

      - name: Install package
        run: |
          pip install -e .[image,dev]

      - name: Test with pytest
        run: |
          pytest # See pyproject.toml for cov options
        env:
          HDF5_USE_FILE_LOCKING: FALSE

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        if: matrix.coverage
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@v2
        if: matrix.coverage
        with:
          parallel: true
          files: lcov.info

      - name: Upload coverage reports to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        if: matrix.coverage && github.ref == 'refs/heads/main'
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }} # Not accessible from PR
          coverage-reports: coverage.xml

  end-coveralls:
    needs: [tests]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
