---
name: Tests
on: [push, pull_request, workflow_dispatch]
jobs:
  tests:
    name:
      Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}${{ matrix.experimental && ' with
      latest dependencies' || '' }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        experimental: [false]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up micromamba and install package dependencies
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ${{ matrix.experimental && 'ci/environment_latest.yaml' || 'ci/environment.yaml' }}
          create-args: >-
            python=${{ matrix.python-version }}
          init-shell: >-
            bash
      - name: Install the package
        run: |
          pip uninstall -y matplotlib  # have matplotlib reinstalled for consistent plotting tests
          pip install -e ".[dev]"
      - name: Test with pytest
        run: |-
          pytest
